html,
body,
#root {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  height: 100%;
  background-color: #f0f0f0;
}

/* .login-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
} */
